.input__label {
  margin-right: 10px;
}

.input_wrapper {
  gap: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;

  & .input__field {
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
  }
}
